<!-- NAVBAR AREA -->
<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h1 style="color:white;"> Angular Crud opeartions Using Ag-Grid</h1>
            <button class="btn btn-success" id="loadData"(click)="onClick()">Load Data</button>
    </div>
</nav>
        <!-- Using clumnDefs attribute to show header row in ag grid table,
             using rowData attribute to show the data in table -->
<div ag-grid="gridOptions" class="ag-theme-bootstrap">  
<div class="container-fluid" *ngIf="hideTable">
    <ag-grid-angular 
        class="ag-theme-balham"      
        [columnDefs]="columns"
        [rowData]="rowData"
        [editType]="editType"
        [rowModelType]="rowModelType"
        [defaultColDef]="defaultColDef"  
        (gridReady)="onGridReady($event)"
        [rowSelection]="rowSelection"
        
        [serverSideInfiniteScroll]="true"
        [cacheBlockSize]="cacheBlockSize"
        [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
        [infiniteInitialRowCount]="infiniteInitialRowCount"
        [cacheOverflowSize]="cacheOverflowSize"
        [maxBlocksInCache]="maxBlocksInCache"
    >
    </ag-grid-angular>

    <!-- Creating the delete button -->
    <button class= "btn btn-success me-2" (click)="onRemoveSelected()">Delete</button>
</div>
</div> 


 